body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-transform: uppercase;
  width: fit-content;
}

.form-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 33%;
  height: 4px;

  background-color: #ffbd48;
}

.list-unstyled li {
  font-size: 1rem;
}

.list-unstyled i {
  font-size: 1.2rem;
}

.form-control {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 15px;
}

.btn-info {
  background-color: #0cb8b6;
  border: none;
  border-radius: 0px;
}

.btn-info:hover {
  background-color: #138496;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .form-title h2 {
    font-size: 1.5rem;
  }

  .list-unstyled li {
    font-size: 0.875rem;
  }

  .list-unstyled i {
    font-size: 1rem;
  }

  .form-control {
    font-size: 0.875rem;
    padding: 8px;
  }

  .btn-info {
    font-size: 0.875rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    padding: 25px;
  }

  .form-title h2 {
    font-size: 2rem;
  }

  .list-unstyled li {
    font-size: 0.95rem;
  }

  .list-unstyled i {
    font-size: 1.1rem;
  }

  .form-control {
    font-size: 0.95rem;
    padding: 9px;
  }

  .btn-info {
    font-size: 0.95rem;
  }
}
