:root {
  --color-primary: #70cbce;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.invite-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 8px;
}

.mail-icon {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  font-size: x-large;
  padding: 8px;
}

.invite-section .title-form {
  font-size: 2rem;
  font-weight: 600;
}

.invite-section .text-muted {
  font-size: 1rem;
  color: #6c757d;
}

.invite-section .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invite-section .form-control {
  border-radius: 5px;
  padding: 15px;
  max-width: 400px;
}

.invite-section .btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 5px;
  padding: 10px 0;
  font-size: 1rem;
  width: 40%;
  min-width: 120px;
}

.invite-section .btn-primary:active {
  background-color: var(--color-primary);
}
