:root {
  --navbar-height: 70px;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
}

/* ==================== NAVBAR ==================== */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  max-height: var(--navbar-height);
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-weight: 700;
  font-size: x-large;
}

.navbar-brand .logo {
  width: 60px;
  font-weight: 500;
}

.navbar-nav .nav-item {
  margin: 0 8px;
}

.navbar-nav .nav-link {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 2px;

  background-color: orange;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav:hover .nav-link.active::after {
  width: 0;
}

.navbar-nav .nav-link.active:hover::after {
  width: 100%;
}

.main-content {
  margin-top: calc(var(--navbar-height) + 1.5rem);
}

/* ==================== PRODUCT ==================== */
#product-list .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#product-list .card-img {
  position: relative;
}

#product-list .button-add {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 4px 8px;

  border: 1px solid #bdc3c7;
  border-radius: 50%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#product-list .button-add:hover {
  background: #b8e994;
}

#product-list .button-add:active {
  background: #badc58;
}

#product-list .button-add.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* ==================== CART ==================== */
.cart-items .cart-icon {
  position: relative;
  display: inline-block;
}

.cart-items .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

#orderForm label {
  margin-top: 8px;
}

/* ==================== BILLS ==================== */
#orders-table-body .dropdown-item:active {
  background-color: transparent;
  color: inherit;
}

/* ==================== TOAST ==================== */
#toast-container {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex !important;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* ==================== BUTTON ==================== */
.btn-back-to-home {
  color: red;
  border: 1px solid red;
  padding: 8px;
  border-radius: 8px;
}

.btn-back-to-home:hover {
  color: white !important;
  background-color: red;
}
